.container {
	text-align: center;
	display: block;
}
#carousel {
	height: 350px;
	width: 500px;
	overflow: hidden;
	border: 7px #fff;
    margin: 0 auto;
    margin-top: 100px;
}
ul {
	width: 2000px;
	list-style-type: : none;
	padding: 0;
}
li {
	list-style-type: none;
	float: left;
	width: 500px;
}
img {
	width: 100%;
}



